<form class="section">
  <div class="container">
    <div class="columns is-2">
      <div class="column is-8 is-offset-2 columns">
        <div class="column is-3 has-colored-border first-row push-left">
          <p class="no-reviews has-text-grey-light" style="padding-left: 50px; padding-top: 10px">Click to <br /> add a picture</p>
        </div>
          <div class="column is-9 has-colored-border first-row" style="width: 73.5%">
            <div class="columns">
              <div class="column is-6">
                <div class="field" for="name">
                  <label class="label">Name</label>
                  {{input value=sessionUser.user.name id="name" placeholder="" class="input"}}
                </div>
                <div class="field">
                  <label class="label" for="city">Location</label>
                  {{input value=sessionUser.user.city id="city" placeholder="location" class="input"}}
                </div>

                <div class="field">
                  <label class="label">Specialty</label>
                  {{input value=sessionUser.user.specialty id="specialty" placeholder="" class="input"}}
                </div>
             </div>
             <div class="column is-6">
               <div class="field">
                 <label class="label">Bio</label>
                 {{textarea value=sessionUser.user.biography id="bio" placeholder="" class="textarea"}}
               </div>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2 columns">
        <div class="column is-12 has-colored-border reviews columns">
          <label class="label">Reviews</label>
            <div class="column is-5 is-offset-3">
              <p class="no-reviews has-text-grey-light">No reviews yet! Creat an event and start your Pear Up experience!</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  </form>

<div class="field is-grouped columns is-centered">
  <div class="control"><br />
    <button type="submit" {{action "submit"}} class="button is-warning is-medium is-super-warning">Submit</button>
  </div>
</div>
