<section>
<br />
    <div class="container">
      <div class="section">
        <div class="container">
          <div class="columns is-2">
            <div class="column is-8 is-offset-2 columns">
              <div class="column is-4 has-colored-border first-row push-left" style="padding: 0; max-height: 254px;">
                <img src="{{sessionUser.user.pic}}" class="profile-img"/>
                </div>
              <div class="column is-8 has-colored-border first-row" style="width: 65%">
                <div class="columns" style="padding: 20px 0px;">
                  <div class="column is-6">
                    <div class="field">
                      <label class="label">Name</label>
                      {{#if sessionUser.user.name}}
                        {{sessionUser.user.name}}
                      {{else}}
                      <p class="has-text-grey-light">Please provide us with a name!</p>
                      {{/if}}
                    </div>
                    <div class="field">
                      <label class="label">Location</label>
                      {{#if sessionUser.user.address}}
                        {{sessionUser.user.address}}
                      {{else}}
                      <p class="has-text-grey-light">Tell us where you live</p>
                      {{/if}}
                    </div>
                    <div class="field">
                      <label class="label">Specialty</label>
                      {{#if sessionUser.user.specialty}}
                        {{sessionUser.user.specialty}}
                      {{else}}
                      <p class="has-text-grey-light">Tell us your specialty</p>
                      {{/if}}
                    </div>
                 </div>
                 <div class="column is-6">
                   <div class="field">
                     <label class="label">Bio</label>
                     {{#if sessionUser.user.specialty}}
                       <p>{{sessionUser.user.biography}}</p>
                     {{else}}
                     <p class="has-text-grey-light">Tell us something about yourself!</p>
                     {{/if}}
                   </div>
                </div>
               </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="columns">
            <div class="column is-8 is-offset-2 columns">
              <div class="column is-12 has-colored-border reviews columns" style="min-height: 240px;">
                <label class="label">Reviews</label>
                  <div class="column is-5 is-offset-3">
                    <p class="no-reviews has-text-grey-light">No reviews yet! Creat an event and start your Pear Up experience!</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-grouped columns is-centered">
        <div class="control"><br />
          {{#link-to 'profile.edit'}}
            <button type="submit" class="button is-warning is-medium is-super-warning">Edit</button>
          {{/link-to}}
        </div>
      </div>
    </div>
</section>
