<section class="hero is-large">
  <div class="hero-body">
    <div class="container">

      <form class="section">
        <div class="container columns">
          <div class="container column is-6 is-offset-3">
            <div class="has-text-centered has-green-border">
              <h1 class="has-text-weight-bold is-size-3">{{input value=model.name id="name" placeholder="Enter Event Name" class="input event-title-input"}}
</h1>
            </div>
          </div>
        </div>
        <div class="container">



    <div class="columns is-2">
      <div class="column is-10 is-offset-1 columns">
        <div class="column is-3 has-colored-border first-row push-left upload-button">
          {{profile-upload model.pic placeholderUrl="" onchange=(action (mut model.pic))}}

        </div>
          <div class="column is-9 has-colored-border first-row">
            <div class="columns">
              <div class="column is-2">
                <div class="field" for="dish">
                  <label class="label">Instructor</label>
                  <p>{{model.instructor}}</p>
                </div>

                <div class="field" for="dish">
                  <label class="label">Class Dish</label>
                  {{input value=model.dish id="dish" placeholder="" class="input"}}
                </div>
             </div>
             <div class="column is-2">
               <div class="field" for="Date">
                 <label class="label">Date</label>
                 <p>11/04/2017</p>
               </div>
               <div class="field">
                 <label class="label" for="city">Time</label>
                 <p>2-5PM</p>
               </div>
               <div class="field">
                 <label class="label" for="spots">Spots</label>
                 {{input value=model.spots id="spots" placeholder="" class="input"}}
               </div>
            </div>
             <div class="column is-4">
               <div class="field">
                 <label class="label" for="description">Description</label>
                 {{textarea value=model.description id="description" placeholder="Tell us something about yourself!" class="textarea"}}
               </div>
            </div>
            <div class="column is-4">
              <div class="field">
                <label class="label" for="ingredients">What to bring</label>
                {{textarea value=model.ingredients id="ingredients" placeholder="" class="textarea"}}
              </div>
           </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </form>

<div class="field is-grouped columns is-centered">
  <div class="control"><br />
    <button type="submit" {{action "submit"}} class="button is-warning is-medium is-super-warning">Done</button>
  </div>
</div>
</div>
</div>
</section>
