<div class="section list-section my-events-section">
  <br /><br />
  <div class="container">
    <div class="columns">
      <div class="column is-5 is-offset-1 columns">
        <p class="has-text-weight-bold is-size-3">My Events</p><br />
      </div>
    </div>
    <div class="columns">
      <div class="column is-5 is-offset-1 columns">
        <p class="has-text-weight-bold is-size-4 my-events-header">Events I am hosting</p><br />
      </div>
    </div>
    {{#each owner-event as |event|}}
      <div class="section list-section">
        <div class="container">
          <div class="columns">
            <div class="column is-10 is-offset-1 columns">

              <div class="column is-3 has-colored-border first-row push-left" style="padding: 0px; max-width: 275px; max-height: 275px;">
                <img src="{{event.pic}}" style="height: 100%; width: 100%; border-radius: 10px;"/>
              </div>
                <div class="column is-9 has-colored-border first-row">
                  <h3 class="is-size-4 has-text-weight-bold is-event-header-inline" style="width: 65%;">{{event.name}}</h3>
                  <div class="columns">

                    <div class="column is-2">
                      <div class="field" for="dish">
                        <label class="label">Name</label>
                        <p>{{event.instructor}}</p>
                      </div>
                      <div class="field">
                        <label class="label" for="city">Location</label>
                        <p>{{event.city}}</p>
                      </div>
                      <div class="field" for="dish">
                        <label class="label">Class Dish</label>
                        {{event.dish}}
                      </div>

                   </div>
                   <div class="column is-2">
                     <div class="field" for="dish">
                       <label class="label">Date</label>
                      {{moment-format event.date 'MM/DD/YYYY'}}
                     </div>
                     <div class="field">
                       <label class="label" for="city">Time</label>
                       <p>{{event.time}}</p>
                     </div>
                     <div class="field" for="dish">
                       <label class="label">Spots</label>
                       {{event.spots}}
                     </div>

                  </div>

                   <div class="column is-4">
                     <div class="field">
                       <label class="label" for="description">Description</label>
                       <p>{{event.description}}</p>
                     </div>
                  </div>
                  <div class="column is-4">
                    <div class="control">
                      {{#link-to "owner-events.show" event}}
                        <button class="button is-warning is-medium is-super-warning event-list-button">See Event</button>
                      {{/link-to}}
                      <button class="button is-warning is-medium is-super-warning event-list-button">Message</button>

                    </div>
                 </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    {{/each}}

    {{#unless owner-event}}
    <div class="columns">
      <div class="column is-5 is-offset-1 columns">
          <p class="has-text-grey-light">No events yet! Create an event and start your Pear Up experience!</p>
      </div>
    </div>
  {{/unless}}
    <div class="columns">
      <div class="column is-5 is-offset-1 columns">
        <p class="has-text-weight-bold is-size-4 my-events-header">Events I am attending</p><br />
      </div>
    </div>
    {{#each participate-event as |event|}}
      <div class="section list-section">
        <div class="container">
          <div class="columns">
            <div class="column is-10 is-offset-1 columns">

              <div class="column is-3 has-colored-border first-row push-left" style="padding: 0px; max-width: 275px; max-height: 275px;">
                <img src="{{event.pic}}" style="height: 100%; width: 100%; border-radius: 10px;" />
              </div>
                <div class="column is-9 has-colored-border first-row">
                  <h3 class="is-size-4 has-text-weight-bold is-event-header-inline" style="width: 65%;">{{event.name}}</h3>
                  <div class="columns">

                    <div class="column is-2">
                      <div class="field" for="dish">
                        <label class="label">Name</label>
                        <p>{{event.instructor}}</p>
                      </div>
                      <div class="field">
                        <label class="label" for="city">Location</label>
                        <p>{{event.city}}</p>
                      </div>
                      <div class="field" for="dish">
                        <label class="label">Class Dish</label>
                        {{event.dish}}
                      </div>

                   </div>
                   <div class="column is-2">
                     <div class="field" for="dish">
                       <label class="label">Date</label>
                      {{moment-format event.date 'MM/DD/YYYY'}}
                     </div>
                     <div class="field">
                       <label class="label" for="city">Time</label>
                       <p>{{event.time}}</p>
                     </div>
                     <div class="field" for="dish">
                       <label class="label">Spots</label>
                       {{event.spots}}
                     </div>

                  </div>
                  <div class="column is-4">
                    <div class="field">
                      <label class="label" for="description">Description</label>
                      <p>{{event.description}}</p>
                    </div>
                 </div>

                   <div class="column is-4">
                     <div class="field">
                       <label class="label" for="description">Description</label>
                       <p>{{event.description}}</p>
                     </div>
                  </div>
                  <div class="column is-4">
                    <div class="control">
                      {{#link-to "participate-events.show" event}}
                        <button class="button is-warning is-medium is-super-warning event-list-button">See Event</button>
                      {{/link-to}}
                      <button class="button is-warning is-medium is-super-warning event-list-button message-host">Message Host</button>

                    </div>
                 </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    {{/each}}

    {{#unless participate-event}}
      <div class="columns">
        <div class="column is-5 is-offset-1 columns">
            <p class="has-text-grey-light">No events yet! Find events close to you and start your Pear Up experience!</p>
        </div>
      </div>
    {{/unless}}
  </div>
  <br /><br />
  <div class="field is-grouped columns is-centered">
    <div class="control"><br />
      {{#link-to 'events.new'}}
        <button type="submit" class="button is-warning is-medium is-super-warning">Create Event</button>
      {{/link-to}}
    </div>
  </div>
</div>

<div class="section list-section">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1 columns">
        <h1 class="has-text-weight-bold is-size-3">Events near me</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column is-10 is-offset-1 columns">
        <div class="column is-4">
          <div class="field">
           <label class="label has-text-weight-normal" style="display: inline-block;">Distance from me</label>
             <p class="control" style="display: inline-block; top: -5px; margin-left: 5px;">
               <div class="select">
               {{#x-select value=distance on-change=(action 'setDistance') as |xs|}}
                 {{#xs.option value=10}}0-10km{{/xs.option}}
                 {{#xs.option value=20}}11-20km{{/xs.option}}
                 {{#xs.option value=30}}21-30km{{/xs.option}}
                 {{#xs.option value=40}}31-40km{{/xs.option}}
                 {{#xs.option value=50}}41-50km{{/xs.option}}
               {{/x-select}}
             </div>
           </p>
         </div>
       </div>
        <button type="button" class="button is-warning is-medium geolocate-button" style="margin-left: -60px; margin-top: 3px; font-weight: 500" {{action 'getUserLocation'}}>Geolocate me!</button>

      </div>
    </div>
  </div>
</div>



{{#each events as |event|}}
  <div class="section list-section">
    <div class="container">
      <div class="columns">
        <div class="column is-10 is-offset-1 columns">

          <div class="column is-3 has-colored-border first-row push-left" style="padding: 0px; max-width: 275px; max-height: 275px;">
            <img src="{{event.pic}}" style="height: 100%; width:100%; border-radius: 10px;" />
          </div>
            <div class="column is-9 has-colored-border first-row">
              <h3 class="is-size-4 has-text-weight-bold is-event-header-inline" style="width: 65%;">{{event.name}}</h3>
              <div class="columns">

                <div class="column is-2">
                  <div class="field" for="dish">
                    <label class="label">Name</label>
                    <p>{{event.instructor}}</p>
                  </div>
                  <div class="field">
                    <label class="label" for="city">Location</label>
                    <p>{{event.city}}</p>
                  </div>
                  <div class="field" for="dish">
                    <label class="label">Class Dish</label>
                    {{event.dish}}
                  </div>

               </div>
               <div class="column is-2">
                 <div class="field" for="dish">
                   <label class="label">Date</label>
                   {{moment-format event.date 'MM/DD/YYYY'}}
                 </div>
                 <div class="field">
                   <label class="label" for="city">Time</label>
                   <p>{{event.time}}</p>
                 </div>
                 <div class="field" for="dish">
                   <label class="label">Spots</label>
                   {{event.spots}}
                 </div>

              </div>

              <div class="column is-4">
                <div class="field">
                  <label class="label" for="description">Description</label>
                  <p>{{event.description}}</p>
                </div>
             </div>
              <div class="column is-4">
                <div class="control">
                  {{#link-to "events.show" event}}
                    <button class="button is-warning is-medium is-super-warning event-list-button">See Event</button>
                  {{/link-to}}
                  <button class="button is-warning is-medium is-super-warning event-list-button message-host">Message Host</button>

                </div>
             </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{{/each}}
<br /><br /><br />
