<nav class="navbar is-transparent nav-header">
  <div class="navbar-brand">
    {{#link-to 'events' class="navbar-item"}}
      <img src="/assets/images/Logo_icon_banner.png" alt="" height="79">
    {{/link-to}}
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="top-navbar" class="navbar-menu">
    <div class="navbar-start">

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped level">
          <p class="control level-item">
            <div class="navbar-item has-dropdown is-hoverable">
              {{link-to "Events" "events" class=" button is-primary is-outlined"}}
              <div class="navbar-dropdown events-dropdown events-navbar-dropdown" style="padding-top: 32px;">
                {{#link-to 'events' class="navbar-item events-navbar-item"}}
                  Find Events
                {{/link-to}}
                {{#link-to 'events.new' class="navbar-item events-navbar-item"}}
                  Create Event
                {{/link-to}}
              </div>
            </div>
          </p>
          <p class="control level-item">
            <a class="button is-primary is-outlined" target="_blank">
              <span>
                Message
              </span>
            </a>
          </p>

          <p class="control">
            <div class="navbar-item has-dropdown is-hoverable">
              {{#link-to "profile" class="navbar-link level-item"}}
                <figure class="image is-55x55">
                  {{#if sessionUser.user.pic}}
                    <img src="{{sessionUser.user.pic}}" alt="profile-button" class="menu-profile-image" style="height: 60px; width: 60px;">
                  {{else}}
                  <img src="/assets/images/Icon_profile.png" alt="profile-button" class="menu-profile-image" style="height: 60px; width: 60px;">

                  {{/if}}
                </figure>
              {{/link-to}}
              <div class="navbar-dropdown">
                {{#link-to 'profile.edit' class="navbar-item"}}
                  Edit Profile
                {{/link-to}}
                <a {{action "logout"}} class="navbar-item">
                  Logout
                </a>
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

{{outlet}}
