<nav class="navbar is-transparent nav-header">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/images/Logo_icon_banner.png" alt="" height="79">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="top-navbar" class="navbar-menu">
    <div class="navbar-start">

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary is-outlined" target="_blank">
              <span>
                Events
              </span>
            </a>
            <a class="button is-primary is-outlined" target="_blank">
              <span>
                Message
              </span>
            </a>
          </p>
          <p class="control">
            <div class="navbar-item has-dropdown is-hoverable">
              {{link-to "Profile" "profile" class="navbar-link"}}
              <div class="navbar-dropdown">
                {{#link-to 'profile.edit' class="navbar-item"}}
                  Edit Profile
                {{/link-to}}
                <a {{action "logout"}} class="navbar-item">
                  Logout
                </a>
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

{{!-- <div class="container">
  <div class="row profile-list">
    <div class="col-12 volunteer-list">
      <p class="back-button">
        <img src="/assets/images/back.png" class="back-icon" />
      </p>


      <div class="interests-block row">
        {{#each currentInterests as |interest|}}
          <div class="col-md-3 search-interest-box hiking-button">
            <img src="/assets/images/{{interest}}@2x.png" class="hiker-logo" />
            <span>{{interest}}</span>
            <button {{action 'removeInterest' interest}} type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      {{/each}}

      {{interest-filter buttonClick=(action "buttonClick" interest=interest)}}
    </div>

      <div class="white-line">
      </div>

      {{#each filteredUsers as |user|}}
        {{profile-results user=user}}
      {{else}}
        <h1>Nobody matched your search! Try changing your parameters and trying again!</h1>
      {{/each}}

    </div>
  </div>
</div>

<div class="Rectangle-4b">
  <div class="container">
    <div class="row footer-slider-row">
      <div class="col-md-4 footer-slider">
        <font color = #cecece> LOCATION</font> <br /><br />
        <font color = #282828> {{if city city "all"}}</font> <br />
        {{location-picker}}
      </div>
      <div class="col-md-4 footer-slider">
        <font color = #cecece> LANGUAGE</font> <br /><br />
        <font color = #282828> {{if language language "all"}}</font> <br />
        {{language-picker}}
      </div>
      <div class="col-md-4 footer-slider-last">
        <font color = #cecece> GENDER</font> <br /><br />
        <font color = #282828>{{if gender gender "all"}}</font> <br />
        {{gender-picker}}
      </div>
    </div>
  </div>
</div> --}}

{{outlet}}
